/Report*
!/Report/resources/*
!/Report/resources/results/*
Report/resources/results/.DS_Store
!/Report/report.pdf
!/Report/report.tex

Program/results_*
Program/active-learning.ipynb
Program/turbulence_and_systematic_risk.ipynb

.DS_Store
.vscode